@font-face {
    font-family: 'JF Flat';
    src: url('./font/JFFlat-Regular.eot');
    src: url('./font/JFFlat-Regular.eot?#iefix') format('embedded-opentype'),
    url('./font/JFFlat-Regular.woff2') format('woff2'),
    url('./font/JFFlat-Regular.woff') format('woff'),
    url('./font/JFFlat-Regular.ttf') format('truetype'),
    url('./font/JFFlat-Regular.svg#JFFlat-Regular') format('svg');
    font-weight:normal;
    font-style:normal;
}
span,div,h1,h2,h3,h4,h5,h6,p,a,button{
    font-family: "JF Flat",serif;
    font-weight: 500 !important;
}

