.max-width-100{
    max-width: 100% !important;
}
.lang-img{
    width: 25px !important;
}
.lang-tooltip li, .currency-tooltip li{
    text-align: center !important;
}
.add-projects:hover{
    background: #F9B90F;
}
.add-projects{
    float:right;
    padding: 0 32px;
    position:relative;
    color:#fff;
    height:59px;
    line-height:59px;
    font-weight:600;
    transition: all .2s ease-in-out;
    font-size:12px;
    background:#3AACED;
}
.add-projects span {
    padding-left:4px;
    font-weight:700;
}
.home-intro h2, .home-intro-card h3{
    font-family: "JF Flat",serif;
}
.geodir-category-opt{
    padding-bottom: 25px !important;
}
.custom-form textarea{
    height: 100px !important;
}
.footer-widget .widget-posts li, .box-widget-content .widget-posts li{
    margin-bottom: 0 !important;
}
.footer-contacts{
    margin: unset !important;
    padding: unset !important;
    border-top: unset !important;
    border-bottom: unset !important;
}
.four-columns-grid .listing-item {
    width:25%;
    padding:0 8px !important;
}

.article-p{
    overflow: hidden;
    height: 25px;
}
.width-100{
    width: 100% !important;
}
.title{
    color:#f9b90f !important; ;
}
.description{
    color: #3aaced !important;
}
.rooms-details{
    text-align: left;
}
.book-form .bookdate-container label i{
    top: 50px !important;
}
.justify{
    text-align: justify !important;
}
