@media only screen and  (max-width: 768px) {
    .add-projects {
        padding: 0 20px;
    }
    .four-column .gallery-item.gallery-item-second{
        width: 100%;
    }
    .customer-support-widget{
        padding: 0;
    }
    .four-columns-grid .listing-item{
        width: 100%;
    }
}
@media only screen and  (max-width: 420px) {
    .add-projects {
        display:none;
    }

}
