body{
    direction: rtl;
}


.logo-holder{
    float: right;
}

.add-projects{
    float: left;
}

.lang-wrap, .currency-wrap{
    float: left;
    margin-left: 40px;
    margin-right: unset;
}
.home-btn{
    float: right;
}
.nav-holder{
    float: right;
    right: 0;
    left: unset;
}
.nav-holder nav li{
    float: right;
    margin-left: 6px;
    margin-right: unset;
}
.gallery-item{
    float: right;
}
.listing-counter{
    right: 35px;
    left: unset;
}
.listing-item-cat h3 {
    float: right;
}
.popup-avatar{
    right: 70px;
    left: unset;
}
.text-carousel-item .listing-rating{
    float: left;
}
.text-carousel-item .listing-rating i{
    float: left;
}
.review-owner {
    float: right;
    text-align: right;
}
.subscribe-header h3{
    float: right;
    text-align: right;
}
.subscribe-header p{
    text-align: right;
}
.footer-widget .widget-posts-descr, .box-widget-content .widget-posts-descr, .cart-details_header .widget-posts-descr{
    text-align: right;
}
@media (min-width: 1064px){
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{
        float: right;
    }
}
.footer-widget .footer-contacts-widget p{
    text-align: right;
}
.footer-widget h3{
    text-align: right;
}
.list-single-main-item-title h3{
    text-align: right;
}
.list-single-main-item p{
    text-align: right;
}
.breadcrumbs-fs .breadcrumbs:before{
    left: 0;
    right: unset;
}
.breadcrumbs-fs .breadcrumbs a, .breadcrumbs-fs .breadcrumbs span{
    float: right;
    margin-left: 15px;
    padding-left: 15px;
    margin-right: unset;
    padding-right: unset;
}
.section-title .breadcrumbs a:before, .breadcrumbs-hero-buttom .breadcrumbs a:before, .breadcrumbs.inline-breadcrumbs a:before, .dasboard-breadcrumbs a:before, .flat-title-wrap .breadcrumbs a:before, .breadcrumbs-fs .breadcrumbs a:before{
    left: -4px;
    right: unset;
}
.list-single-main-item-title:before{
    left: 0;
    right: unset;
}
.colomn-text{
    float: right;
    padding: 0 0px 0 40px;
}
.slick-slider{
    direction: ltr;
}
.geodir-category-img .listing-counter{
    right: 20px;
    left: unset;
}
