@font-face {
    font-family: 'JF Flat';
    src: url('JFFlat-Regular.eot');
    src: url('JFFlat-Regular.eot?#iefix') format('embedded-opentype'),
        url('JFFlat-Regular.woff2') format('woff2'),
        url('JFFlat-Regular.woff') format('woff'),
        url('JFFlat-Regular.ttf') format('truetype'),
        url('JFFlat-Regular.svg#JFFlat-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

